<select name="data.data.type" id="data.data.type">
    {{#select data.data.type}}
    <option value="rival">{{localize "FP.ui.select.battle.rival"}}</option>
    <option value="patron">{{localize "FP.ui.select.battle.patron"}}</option>
    <option value="opportunity">{{localize "FP.ui.select.battle.opportunity"}}</option>
    <option value="quest">{{localize "FP.ui.select.battle.quest"}}</option>
    <option value="invasion">{{localize "FP.ui.select.battle.invasion"}}</option>
    {{/select}}
</select>