<form class="fp roll-dialog">
 <header class="roll-header">
        <h1 class="fp roll-name dialog-header">{{localize "FP.ui.general.attacking"}} {{w_name}}</h1>
    </header>

 <div class="fp roll-dialog">
      <h2 class="dialog-header">{{localize "FP.character.stat.combat"}} {{localize "FP.gameterm.skill"}}: +{{a_combat}}</h2>
      <p class="fp terminal"><strong>{{localize "FP.ui.rolldialog.wepdets"}}</strong>: {{w_shots}} {{localize "FP.weapon.stat.shots"}} / {{localize "FP.weapon.stat.damage"}} {{w_dmg}} {{#if (ne w_traits "")}}({{w_traits}}){{else}}{{/if}}</p>
     <div class="form-group">
       
         <table class="fp dialog-roster">
             <tr class="fp terminal">
                 <th>{{localize "FP.ui.rolldialog.extrad6"}}</th>
                 <td style="text-align:center"><input id="extraDice" class="fp value-input" type="text" value="0" data-dtype="Number"/></td>
             </tr>
             <tr class="fp terminal">
                 <th>{{localize "FP.gameterm.bonuses"}}</th>
                 <td style="text-align:center">
                    <input id="bonus" class="fp value-input" type="text" value="0" data-dtype="Number"/>
                 </td>
            </tr>
            <tr class="fp terminal">
                <th>{{localize "FP.gameterm.penalties"}}</th>
                 <td style="text-align:center">
                     <input id="penalty" class="fp value-input" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
         </table>         
     </div>
 </div>


</form>