<form class="fp roll-dialog">
 <header class="roll-header">
        <h1 class="fp roll-name">{{localize "FP.ui.rolldialog.assigncrew"}}</h1>
    </header>

 <div class="fp roll-dialog">
   <p>{{localize "FP.campaign_turn.crew_tasks.ctwarn"}}</p>
     <div class="form-group">
        
         <table class="fp crew-roster">
             <tr class="fp sheet-label">
                 <th>{{localize "FP.ui.general.task"}}</th>
                 <th>{{localize "FP.gameterm.crew"}} {{#unless auto}}& {{localize "FP.ui.rolldialog.outcome"}}{{/unless}}</th>
             </tr>
             <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.find"}}</th>
                 <td>
                     <select name="finder1" id="finder1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                      <select name="finder2" id="finder2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                      {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="find-outcome" data-dtype="String"/>{{/unless}}
                 </td>
             </tr>
              <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.train"}}</th>
                 <td>
                     <select name="trainer1" id="trainer1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                     <select name="trainer2" id="trainer2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                 
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="train-outcome" data-dtype="String"/>
                 {{/unless}}
                 </td>
             </tr>
              <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.trade"}}</th>
                 <td>
                     <select name="trader1" id="trader1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                     <select name="trader2" id="trader2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                 
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="trade-outcome" data-dtype="String"/>
                 {{/unless}}
                 </td>
             </tr>
              <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.recruit"}}</th>
                 <td>
                     <select name="recruiter1" id="recruiter1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                     <select name="recruiter2" id="recruiter2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
               
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="recruit-outcome" data-dtype="String"/>
                 {{/unless}}
                 </td>
             </tr>
              <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.explore"}}</th>
                 <td>
                     <select name="explorer1" id="explorer1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                     <select name="explorer2" id="explorer2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                 
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="explore-outcome" data-dtype="String"/>
                 {{/unless}}</td>
             </tr>
             <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.track"}}</th>
                 <td>
                     <select name="tracker1" id="tracker1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                 
                     <select name="tracker2" id="tracker2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="track-outcome" data-dtype="String"/>
                 {{/unless}}
                 </td>
             </tr>
             <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.repair"}}</th>
                 <td>
                     <select name="repairer1" id="repairer1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                     <select name="repairer2" id="repairer2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                 
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="repair-outcome" data-dtype="String"/>
                 {{/unless}}
                 </td>
             </tr>
             <tr>
                 <th>{{localize "FP.campaign_turn.crew_tasks.decoy"}}</th>
                 <td>
                     <select name="decoy1" id="decoy1">
                         <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                     <select name="decoy2" id="decoy2">
                        <option value="">{{localize "FP.ui.rolldialog.nobody"}}</option>
                         {{#each crew_names as |name id|}}
                         <option value="{{name}}">{{name}}</option>
                         {{/each}}
                     </select>
                
                 {{#unless auto}}<br/>
                     <input type="fp text-input" style="width:100%" id="decoy-outcome" data-dtype="String"/>
                 {{/unless}}
                 </td>
             </tr>
            
         </table>         
     </div>
 </div>


</form>