<form class="{{cssClass}}" autocomplete="off">
    <header class="fp sheethead">
    </header>
    
    <section class="sheetbody">
        <div class="fp flexrow">
            <div class="fp flexcol" style="border:2px solid rgb(111, 188, 252); border-radius:8px; margin:6px;
                                            {{#if data.data.casualty}}background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJ0lEQVQYV2NkgIL/DAz/GRkYGEFcMIEsABZEF4CrhBmBpAshBNMFAA5zCgTDHweQAAAAAElFTkSuQmCC);{{/if}}">
                {{!--pic and dice links--}}
                <div class="fp flexrow">
                    <div class="fp flex-item">
                        <img class="profile-img" style="border:1px solid #44b9de; min-width:64px !important; min-height:64px !imporant" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                    {{!--character image column--}}
                    </div>
                    {{> 'systems/fiveparsecs/templates/partials/sheet/dice_roll_block.hbs'
                            chartype=actor.type
                    }}
                </div>
                
                
                    <div class="flex-item" style="min-width:50%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label">
                                <th style="border-right:1px solid gray">{{localize "FP.gameterm.name"}}</th>
                                <th>{{localize "FP.gameterm.species"}}</th>
                                <th style="text-align:center">Casualty?</th>
                                <th>Sickbay Time</th>
                                <th>Saving Throw</th>
                            </tr>
                            <tr>
                                <td style="padding-right:3px">
                                    <span data-field="name" class="inline-edit hw val-box" style="background:none;" contenteditable>{{actor.name}}</span>
                                    <!--input class="fp charname" style="text-align:left; width:100%; vertical-align:top; background:rgb(255, 255, 255);" name="name" type="text" value="{{actor.name}}" placeholder="Name"/-->
                                    {{#if data.data.captain}}  <i class="fas fa-star"></i>{{/if}}
                                </td>
                                <td style="padding-left:3px;">
                                    <span data-field="data.data.species" class="inline-edit hw val-box" contenteditable>{{data.data.species}}</span>
                                </td>
                                <td style="text-align:center;">
                                    <input type="checkbox" class="fp toggle" name="data.data.casualty" value="{{data.data.casualty}}" {{#if data.data.casualty}}checked{{/if}}/> 
                                </td>
                                <td>
                                    <span data-field="data.data.sickbay_time" class="inline-edit hw val-box" style="background:none;" contenteditable>{{data.data.sickbay_time}}</span>
                                </td>
                                <td>
                                    <span data-field="data.data.save" class="inline-edit hw val-box" style="background:none;" contenteditable>{{data.data.save}}</span>
                                </td>
                            </tr>
                        </table>
                        
                        
                    </div>
                    <div class="fp flexrow">
                        <div class="fp flex-item" style="text-align:center; max-width:70%;">
                            <table class="fp crew-roster">
                                <tr class="fp sheet-label-center">
                                    <th>{{localize "FP.character.stat_abbrev.reactions"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.speed"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.combat"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.toughness"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.savvy"}}</th>
                                </tr>
                                    
                                </tr>
                                <td><span data-field="data.data.reactions" class="inline-edit hw val-box" contenteditable>{{data.data.reactions}}</span></td>
                            <td><span data-field="data.data.speed" class="inline-edit hw val-box" contenteditable>{{data.data.speed}}</span></td>
                            <td><span data-field="data.data.combat" class="inline-edit hw val-box" contenteditable>{{data.data.combat}}</span></td>
                            <td><span data-field="data.data.toughness" class="inline-edit hw val-box" contenteditable>{{data.data.toughness}}</span></td>
                            <td><span data-field="data.data.savvy" class="inline-edit hw val-box" contenteditable>{{data.data.savvy}}</span></td>
                            </table>
                        </div>
                        <div class="fp flex-item" style="text-align:center; max-width:28%;">
                            <table class="fp crew-roster">
                                <tr class="fp sheet-label-center">
                                    <th>{{localize "FP.character.stat.luck"}}</th>
                                    <th>{{localize "FP.character.stat.xp"}}</th>
                                </tr>
                                <tr><td><span data-field="data.data.luck" class="inline-edit hw val-box" contenteditable>{{data.data.luck}}</span></td>
                                <td><span data-field="data.data.xp" class="inline-edit hw val-box" contenteditable>{{data.data.xp}}</span></td></tr>
                            
                            </table>
                        </div>
                    </div>
                    {{!--name and stats row--}}
                
                
                   <div class="fp flexcol" style="min-width:50%">       
                        <div style="padding:3px; margin-right:12px;">
                            <table class="fp crew-roster" style="border-collapse:collapse;">
                                <tr class="fp sheet-label labels">
                                    <th>{{localize "FP.gameterm.weapon"}} <a class="item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus-square"></i></a></th>
                                    <th>{{localize "FP.weapon.stat.range"}}</th>
                                    <th>{{localize "FP.weapon.stat.shots"}}</th>
                                    <th>{{localize "FP.weapon.stat.damage"}}</th>
                                    <th>{{localize "FP.gear.stat.traits"}}</th>
                                </tr>
                                {{#each weapons as |weapon id|}}
                                <tr class="hw">
                                    <td class="item-name item" data-item-id="{{weapon.data._id}}">
                                        
                                        
                                        {{weapon.name}} 

                                        <span class="edit-icons-cs"><a class="atk-roll" title="Roll {{weapon.name}} Attack" data-type="weapon" data-weapon-id="{{weapon.data._id}}">
                                            <i class="fa fa-crosshairs"></i>
                                        </a> <a class="item-edit item" title="Edit {{weapon.name}}" data-type="weapon" data-item-id="{{weapon.data._id}}">
                                            <i class="fa fa-edit"></i>
                                        </a> 
                                            <a class="item-delete item" title="Delete {{weapon.name}}" data-type="weapon" data-item-id="{{weapon.data._id}}"><i class="fas fa-trash"></i></a></span>

                                    </td>
                                    <td style="text-align:center">{{weapon.data.data.range}}</td>
                                    <td style="text-align:center">{{weapon.data.data.shots}}</td>
                                    <td style="text-align:center">{{weapon.data.data.damage}}</td>
                                    <td style="text-align:center">{{weapon.data.data.traits}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div> {{!--weapon 1 / gear / xp row--}}
                   <div class="fp flexcol">
                        <div class="fp flex-item" style="margin-right:12px">
                            <table class="fp crew-roster">
                               <tr class="fp sheet-label labels">
                                   <th>{{localize "FP.trait.type.background"}} <a class="item-create" data-type="background" title="Add Background"><i class="fas fa-plus-square"></i></a></th>
                                   <th>Effect</th>
                                   <th>Resources</th>
                                   <th>Starting Rolls</th>
                               </tr>
                               {{#each backgrounds as |item id|}}
                               <tr class="hw">
                                   <td class="item-name item" data-item-id="{{item.data._id}}">
                                       {{item.name}}
                                        <span class="edit-icons-cs"><a class="item-edit item" title="Edit {{item.name}}" data-type="background" data-item-id="{{item.data._id}}">
                                            <i class="fa fa-edit"></i>
                                        </a> 
                                            <a class="item-delete item" title="Delete {{item.name}}" data-type="background" data-item-id="{{item.data._id}}"><i class="fas fa-trash"></i></a></span>

                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.effect}}
                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.resources}}
                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.starting_rolls}}
                                   </td>
                               </tr>
                               {{/each}}
                           </table>
                       </div>
                       <div class="fp flex-item" style="margin-right:12px">
                            <table class="fp crew-roster">
                               <tr class="fp sheet-label labels">
                                   <th>{{localize "FP.trait.type.motivation"}} <a class="item-create" data-type="motivation" title="Add Motivation"><i class="fas fa-plus-square"></i></a></th>
                                   <th>Effect</th>
                                   <th>Resources</th>
                                   <th>Starting Rolls</th>
                               </tr>
                               {{#each motivations as |item id|}}
                               <tr class="hw">
                                   <td class="item-name item" data-item-id="{{item.data._id}}">
                                       {{item.name}}
                                        <span class="edit-icons-cs"><a class="item-edit item" title="Edit {{item.name}}" data-type="motivation" data-item-id="{{item.data._id}}">
                                            <i class="fa fa-edit"></i>
                                        </a> 
                                            <a class="item-delete item" title="Delete {{item.name}}" data-type="motivation" data-item-id="{{item.data._id}}"><i class="fas fa-trash"></i></a></span>

                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.effect}}
                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.resources}}
                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.starting_rolls}}
                                   </td>
                               </tr>
                               {{/each}}
                           </table>
                       </div>
                       <div class="fp flex-item" style="margin-right:12px">
                            <table class="fp crew-roster">
                               <tr class="fp sheet-label labels">
                                   <th>{{localize "FP.trait.type.class"}} <a class="item-create" data-type="class" title="Add Class"><i class="fas fa-plus-square"></i></a></th>
                                   <th>Effect</th>
                                   <th>Resources</th>
                                   <th>Starting Rolls</th>
                               </tr>
                               {{#each class as |item id|}}
                               <tr class="hw">
                                   <td class="item-name item" data-item-id="{{item.data._id}}">
                                       {{item.name}}
                                        <span class="edit-icons-cs"><a class="item-edit item" title="Edit {{item.name}}" data-type="class" data-item-id="{{item.data._id}}">
                                            <i class="fa fa-edit"></i>
                                        </a> 
                                            <a class="item-delete item" title="Delete {{item.name}}" data-type="class" data-item-id="{{item.data._id}}"><i class="fas fa-trash"></i></a></span>

                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.effect}}
                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.resources}}
                                   </td>
                                   <td style="text-align:center">
                                       {{item.data.data.starting_rolls}}
                                   </td>
                               </tr>
                               {{/each}}
                           </table>
                       </div>
                   </div>
                   <div class="fp flexcol"> 
                        <div style="padding:3px; margin-right:12px;">
                            <table class="fp crew-roster">
                                <tr>
                                    <td style="width:10%"><span class="fp sheet-label labels" style="vertical-align:top">Gear</span> <a class="item-create" data-type="gear" title="Add Gear"><i class="fas fa-plus-square"></i></a></td>
                                    <td style="padding-left:3px;">
                                        
                                        {{#each gear as |gear id|}}
                                        
                                            <a class="item-edit item hw" title="Edit {{gear.name}}" data-type="gear" data-item-id="{{gear.data._id}}"><span class="item-name item" data-item-id="{{gear.data._id}}">{{gear.name}}
                                                {{#if (gt gear.data.data.uses 0)}}&nbsp;x{{gear.data.data.uses}}{{/if}}</span>
                                            </a> 
                                            <span class="edit-icons-cs"><a class="item-delete item" title="Delete {{gear.name}}" data-type="gear" data-item-id="{{gear.data._id}}"><i class="fas fa-trash"></i></a></span>
                                            
                                            {{#if @last}} {{else}}, {{/if}}

                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10%"><span class="fp sheet-label" style="vertical-align:top">Notes</span></td>
                                    <td data-field="notes" class="inline-edit-notes hw" style="padding-left:3px;" contenteditable>{{data.data.notes}}</td>
                                </tr>
                            </table>
                        </div>
                   </div>
            </div>
        </div>

    </section>
</form>