<form class="{{cssClass}}" autocomplete="off">
    <header class="fp sheethead">
    </header>
    
    <section class="sheetbody">
        <div class="fp flexrow">
            <div class="fp flexcol" style="flex-grow:0; max-height:64px;">
                <img class="profile-img" style="border:none; min-width:128px !important; min-height:128px !imporant" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
                {{!--character image column--}}
            </div>
            <div class="fp flexcol" style="border:2px solid rgb(111, 188, 252); border-radius:8px; margin:6px;">
                {{!--character stats/name/etc column--}}
                <div class="fp flexrow">
                    <div class="flex-item" style="min-width:50%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label">
                                <th style="border-right:1px solid gray">Name</th>
                                <th>Species/Type</th>
                            </tr>
                            <tr>
                                <td style="padding-right:3px; border-right:1px solid gray;"><input class="fp charname" style="text-align:left; width:100%; vertical-align:top; background:rgb(255, 255, 255);" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></td>
                                <td style="padding-left:3px;"><input class="fp charname" style="width:100%; vertical-align:top; background:rgb(255, 255, 255);" name="data.data.species" type="text" value="{{data.data.species}}" data-dtype="String"/></td>
                            </tr>
                        </table>
                        
                        
                    </div>
                    <div class="fp flex-item" style="text-align:center; max-width:35%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label-center">
                                <th>Rea</th>
                                <th>Spd</th>
                                <th>Cbt</th>
                                <th>Tou</th>
                                <th>Sav</th>
                            </tr>
                                
                            </tr>
                            <td><input class="fp value-input" type="text" name="data.data.reactions" value="{{data.data.reactions}}" data-dtype="Number"/></td>
                        <td><input class="fp value-input" type="text" name="data.data.speed" value="{{data.data.speed}}" data-dtype="Number"/></td>
                        <td><input class="fp value-input" type="text" name="data.data.combat" value="{{data.data.combat}}" data-dtype="Number"/></td>
                        <td><input class="fp value-input" type="text" name="data.data.toughness" value="{{data.data.toughness}}" data-dtype="Number"/></td>
                        <td><input class="fp value-input" type="text" name="data.data.savvy" value="{{data.data.savvy}}" data-dtype="Number"/></td>
                        </table>
                    </div>
                    <div class="fp flex-item" style="text-align:center; max-width:10%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label-center">
                                <th>Luck</th>
                                <th>XP</th>
                            </tr>
                            <tr><td><input class="fp value-input" type="text" name="data.data.luck" value="{{data.data.luck}}" data-dtype="Number"/></td>
                            <td><input class="fp value-input" type="text" name="data.data.xp" value="{{data.data.xp}}" data-dtype="Number"/></td></tr>
                        
                        </table>
                    </div>
                    {{!--name and stats row--}}
                </div>
                <div class="fp flexrow">
                   <div class="fp flexcol" style="min-width:50%">
                       
                        <div style="padding:3px; margin-right:12px;">
                            <table class="fp crew-roster" style="border-collapse:collapse;">
                                <tr class="fp sheet-label">
                                    <th>Weapon</th>
                                    <th>Range</th>
                                    <th>Shots</th>
                                    <th>Damage</th>
                                    <th>Traits</th>
                                </tr>
                                {{#each weapons as |weapon id|}}
                                <tr>
                                    <td>{{weapon.name}}</td>
                                    <td style="text-align:center">{{weapon.data.data.range}}</td>
                                    <td style="text-align:center">{{weapon.data.data.shots}}</td>
                                    <td style="text-align:center">{{weapon.data.data.damage}}</td>
                                    <td style="text-align:center">{{weapon.data.data.traits}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                        
                   </div> {{!--weapon 1 / gear / xp row--}}
                   <div class="fp flexcol">
                        
                        <div style="padding:3px; margin-right:12px;">
                            <table class="fp crew-roster">
                                <tr>
                                    <td style="width:10%"><span class="fp sheet-label" style="vertical-align:top">Gear</span></td>
                                    <td style="padding-left:3px;">
                                        
                                        {{#each gear as |gear id|}}
                                        
                                            <a class="item-edit item" title="Edit {{gear.name}}" data-type="gear" data-item-id="{{gear.data._id}}">{{gear.name}}
                                                {{#if (gt gear.data.data.uses 0)}}&nbsp;x{{gear.data.data.uses}}{{/if}}
                                            </a> 
                                            [<a class="item-delete item" title="Delete {{gear.name}}" data-type="gear" data-item-id="{{gear.data._id}}"><i class="fas fa-trash"></i></a>] 
                                            
                                            {{#if @last}} {{else}}, {{/if}}

                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10%"><span class="fp sheet-label" style="vertical-align:top">Notes</span></td>
                                    <td data-field="notes" class="inline-edit-notes" style="padding-left:3px;" contenteditable>{{data.data.notes}}</td>
                                </tr>
                            </table>
                        </div>
                   </div>
                </div>
                <div class="fp flexrow">
                    {{!--weapon 2 / notes row --}}
                </div>
            </div>
        </div>

    </section>
</form>