<form class="{{cssClass}}" autocomplete="off">
    <header class="fp sheethead">
    </header>

     

    <section class="sheetbody">
        
        <div class="fp flexrow"> {{!--main row - image, and crewsheet body--}}
            <div class="fp flexcol" style="max-width:28px; background:#7dc8e6; text-align:center;">
                    <div class="fp flex-item dice-icon-compact">
                        <a title="Roll 1d6" class="dice-roll" data-dice-base="1d6">
                            <img class="dice-img" src="systems/fiveparsecs/assets/d6s.png" height="24" width="24" style="border:0"/>
                        </a>
                    </div>
                    <div class="fp flex-item dice-icon-compact">
                        <a title="Roll 2d6" class="dice-roll" data-dice-base="2d6">
                            <img class="dice-img" src="systems/fiveparsecs/assets/d6.png" height="24" width="24" style="border:0"/>
                        </a>
                    </div>
                     <div class="fp flex-item dice-icon-compact">
                        <a title="Roll 1d10" class="dice-roll" data-dice-base="1d10">
                            <img class="dice-img" src="systems/fiveparsecs/assets/d10.png" height="24" width="24" style="border:0"/>
                        </a>
                    </div>
                     <div class="fp flex-item dice-icon-compact">
                        <a title="Roll Percentile" class="dice-roll" data-dice-base="1d100">
                            <img class="dice-img" src="systems/fiveparsecs/assets/d100.png" height="24" width="24" style="border:0"/>
                        </a>
                    </div>
                    <div class="fp flex-item dice-icon-compact">
                        <a title="Roll Custom" class="dice-roll" data-dice-base="custom">
                            <img class="dice-img" src="systems/fiveparsecs/assets/dwhatever.png" height="24" width="24" style="border:0"/>
                        </a>
                    </div>
            </div>
            <div class="fp flexcol" style="max-width:150px; background:#7dc8e6; margin-left:6px;"> {{!--dice and image column--}}
                <div class="fp flex-item" style="text-align:center;">
                    <span class="fp sheet-label labels" style="color:white; font-size:1.35em;">CREW LOG</span>
                </div>
                <div class="fp flex-item" style="flex-grow:0; text-align:center"> {{!--image flex column--}}
                        <img class="profile-img" style=" border:1px solid #44b9de; margin-right:auto; margin-left:auto; min-width:96px !important; min-height:96px !imporant" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="96" width="96"/>
                    
                </div>
                
            </div> {{!--end dice and image column--}}
            
            <div class="fp flexcol" style="min-width:70%; margin-left:6px;"> {{!--crew information column--}}
                
                <div class="fp flexrow" style="background:#7dc8e6;">
                    <div class="fp flex-item" style="max-width:25%">
                        <span class="fp sheet-label-white">{{localize "FP.crew.name"}}</span><br/>
                        <span data-field="name" class="inline-edit hw val-box" contenteditable><strong>{{actor.name}}</strong> </span>
                        <!--input type="text" class="fp text-input hw" name="name" value="{{actor.name}}" data-dtype="String"/-->
                    </div>
                    <div class="fp flex-item" style="max-width:59%">
                        <span class="fp sheet-label-white">{{localize "FP.ui.general.notes"}}</span><br/>
                         <span data-field="data.notes" class="inline-edit hw val-box"  contenteditable>{{data.notes}}</span>
                        <!--input type="text" class="fp text-input" name="data.data.notes" value="{{data.data.notes}}" data-dtype="String"/-->
                    </div>
                     <div class="fp flex-item" style="max-width:15%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.crew.stat.story_points"}}</span><br/>
                        <span data-field="data.sp" class="inline-edit hw val-box"  contenteditable>{{data.sp}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.sp" value="{{data.data.sp}}" data-dtype="Number"/-->
                    </div>
                </div>

                <div class="fp flexrow" style="background:#7dc8e6;">
                    <div class="fp flex-item">
                        <span class="fp sheet-label-white">{{localize "FP.crew.stash"}}</span><br/>
                        <span data-field="data.stash" class="inline-edit hw val-box"  contenteditable>{{data.stash}}</span>
                        <!--input type="text" class="fp text-input" name="data.data.stash" value="{{data.data.stash}}" data-dtype="String"/-->
                    </div>
                    <div class="fp flex-item" style="max-width:10%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.crew.stat.credits"}}</span><br/>
                        <span data-field="data.credits" class="inline-edit hw val-box"  contenteditable>{{data.credits}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.credits" value="{{data.data.credits}}" data-dtype="Number"/-->
                    </div>
                     <div class="fp flex-item" style="max-width:10%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.crew.stat.patrons"}}</span><br/>
                        <span data-field="data.patrons" class="inline-edit hw val-box"  contenteditable>{{data.patrons}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.patrons" value="{{data.data.patrons}}" data-dtype="Number"/-->
                    </div>
                    <div class="fp flex-item" style="max-width:10%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.crew.stat.rivals"}}</span><br/>
                        <span data-field="data.rivals" class="inline-edit hw val-box" contenteditable>{{data.rivals}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.rivals" value="{{data.data.rivals}}" data-dtype="Number"/-->
                    </div>
                </div>

                <div class="fp flexrow" style="background:#7dc8e6;">
                    <div class="fp flex-item" style="max-width:25%;">
                        <span class="fp sheet-label-white">{{localize "FP.ship.name"}}</span><br/>
                        <span data-field="data.ship" class="inline-edit hw val-box"  contenteditable>{{data.ship}}</span>
                        <!--input type="text" class="fp text-input" name="data.data.ship" value="{{data.data.ship}}" data-dtype="String"/-->
                    </div>
                    
                     <div class="fp flex-item">
                        <span class="fp sheet-label-white">{{localize "FP.ship.stat.traits"}}</span><br/>
                        <span data-field="data.ship_traits" class="inline-edit hw val-box"  contenteditable>{{data.ship_traits}}</span>
                        <!--input type="text" class="fp text-input" name="data.data.ship_traits" value="{{data.data.ship_traits}}" data-dtype="String"/-->
                    </div>
                    <div class="fp flex-item">
                        <span class="fp sheet-label-white">{{localize "FP.ship.stat.upgrades"}}</span><br/>
                        <span data-field="data.ship_upgrades" class="inline-edit hw val-box"  contenteditable>{{data.ship_upgrades}}</span>
                        <!--input type="text" class="fp text-input" name="data.data.ship_upgrades" value="{{data.data.ship_upgrades}}" data-dtype="String"/-->
                    </div>
                    <div class="fp flex-item" style="max-width:7%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.ship.stat.hull"}}</span><br/>
                        <span data-field="data.hull" class="inline-edit hw val-box"  contenteditable>{{data.hull}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.hull" value="{{data.data.hull}}" data-dtype="Number"/-->
                    </div>
                     <div class="fp flex-item" style="max-width:7%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.ship.stat.maxhull"}}</span><br/>
                        <span data-field="data.hullmax" class="inline-edit hw val-box"  contenteditable>{{data.hullmax}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.hull" value="{{data.data.hull}}" data-dtype="Number"/-->
                    </div>
                     <div class="fp flex-item" style="max-width:7%; text-align:center">
                        <span class="fp sheet-label-white">{{localize "FP.ship.stat.debt"}}</span><br/>
                        <span data-field="data.debt" class="inline-edit hw val-box"  contenteditable>{{data.debt}}</span>
                        <!--input type="text" class="fp value-input" name="data.data.debt" value="{{data.data.debt}}" data-dtype="Number"/-->
                    </div>
                </div>
            </div> {{!--end crew information column--}}

        </div>
           <nav class="sheet-tabs tabs" data-group="primary" >
            <a class="fp labels" style="text-transform:uppercase" data-tab="main">{{localize "FP.ui.crewsheet.roster"}}</a>
            <a class="fp labels" style="text-transform:uppercase" data-tab="turn">{{localize "FP.campaign_turn.entity"}}</a>
            <a class="fp labels" style="text-transform:uppercase" data-tab="worlds">{{localize "FP.ui.crewsheet.known"}}</a>
        </nav>     
        <div class="tab main" data-group="primary" data-tab="main">       
        <div>
            <h2 class="fp sheet-label">
                <a class="item-create" title="{{localize 'FP.ui.crewsheet.add'}}" data-type="crew_assignment">
                    <i class="fas fa-plus-square"></i> {{localize "FP.ui.crewsheet.add"}}
                </a> | 
                <a class="refresh-crew" title="{{localize 'FP.ui.crewsheet.refresh'}}">
                    <i class="fas fa-sync-alt"></i> {{localize "FP.ui.crewsheet.refresh"}}
                </a>
            </h2>
        </div>

        <div class="fp flexcol"  > {{!--crew roster container flex column--}}
            {{log "assignedCrew object: " assignedCrew}}
            {{#each assignedCrew as |crew id|}}
            {{log "crew object: " crew}}
            <div class="fp flex-item" style="border:2px solid #7dc8e6; border-radius:8px; margin:3px; 
            {{#if crew.mbr_casualty}}background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJ0lEQVQYV2NkgIL/DAz/GRkYGEFcMIEsABZEF4CrhBmBpAshBNMFAA5zCgTDHweQAAAAAElFTkSuQmCC){{/if}}">
                
                <div class="fp flexrow">
                    
                    <div class="flex-item" style="min-width:50%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label">
                                <th style="border-right:1px solid gray">{{localize "FP.gameterm.name"}}</th>
                                <th>{{localize "FP.gameterm.species"}}</th>
                                <th>{{localize "FP.character.save"}}</th>
                            </tr>
                            <tr class="hw">
                                <td style="padding-right:3px; border-right:1px solid gray;">{{crew.mbr_name}} {{#if crew.mbr_captain}}<i class="fas fa-flag"></i>{{/if}} {{#if (gt crew.mbr_sick 0)}}({{localize "FP.ui.general.sickbay"}} {{crew.mbr_sick}} {{localize "FP.ui.general.time"}}){{/if}}</td>
                                <td style="padding-left:3px;">{{crew.mbr_species}}</td>
                                <td style="padding-left:3px;">{{crew.mbr_save}}</td>
                            </tr>
                        </table>  
                    </div>
                    <div class="fp flex-item" style="text-align:center; max-width:35%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label-center">
                                <th>{{localize "FP.character.stat_abbrev.reactions"}}</th>
                                <th>{{localize "FP.character.stat_abbrev.speed"}}</th>
                                <th>{{localize "FP.character.stat_abbrev.combat"}}</th>
                                <th>{{localize "FP.character.stat_abbrev.toughness"}}</th>
                                <th>{{localize "FP.character.stat_abbrev.savvy"}}</th>
                            </tr>
                                
                            <tr class="hw">
                            <td>{{crew.mbr_reactions}}</td>
                        <td>{{crew.mbr_speed}}</td>
                        <td>{{crew.mbr_combat}}</td>
                        <td>{{crew.mbr_toughness}}</td>
                        <td>{{crew.mbr_savvy}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="fp flex-item" style="text-align:center; max-width:10%;">
                        <table class="fp crew-roster">
                            <tr class="fp sheet-label-center">
                                <th>{{localize "FP.character.stat.luck"}}</th>
                                <th>{{localize "FP.character.stat.xp"}}</th>
                            </tr>
                            <tr class="hw">
                                <td>{{crew.mbr_luck}}</td>
                                <td>{{crew.mbr_xp}}

                            </tr>
                        
                        </table>
                    </div>
                    <div class="fp flexcol item-name item" data-crew-id="{{crew.mbr_id}}" data-item-id="{{crew.mbr_item_id}}" style="max-width:48px; background:#7dc8e6; color:white; text-align:center;">
                        <a class="item-delete" title="{{localize 'FP.ui.crewsheet.delete'}}" data-type="crew_assignment">
                            <span style="font-size:2em"><i class="fas fa-minus-square"></i></span>
                        </a>
                        <a class="item-edit" title="{{localize 'FP.ui.crewsheet.edit'}}" data-type="crew_actor">
                            <span style="font-size:2em"><i class="fas fa-edit"></i></span>
                        </a>
                    </div>
                    {{!--name and stats row--}}
                </div>
                <div class="fp flexrow"> {{!--weapons and gear/notes line--}}
                    <div class="fp flexcol" style="min-width:50%">
                        
                            <div style="padding:3px; margin-right:12px;">
                                <table class="fp crew-roster" style="border-collapse:collapse;">
                                    <tr class="fp sheet-label">
                                        <th>{{localize "FP.gameterm.weapon"}}</th>
                                        <th>{{localize "FP.weapon.stat.range"}}</th>
                                        <th>{{localize "FP.weapon.stat.shots"}}</th>
                                        <th>{{localize "FP.weapon.stat.damage"}}</th>
                                        <th>{{localize "FP.gameterm.traits"}}</th>
                                    </tr>
                                    {{#each mbr_weapons as |weapon id|}}
                                    <tr>
                                        <td class="hw">{{weapon.name}}</td>
                                        <td class="hw" style="text-align:center">{{weapon.range}}</td>
                                        <td class="hw" style="text-align:center">{{weapon.shots}}</td>
                                        <td class="hw" style="text-align:center">{{weapon.dmg}}</td>
                                        <td class="hw" style="text-align:center">{{weapon.traits}}</td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </div>
                            
                    </div>
            
                    <div class="fp flexcol">  
                            <div style="padding:3px; margin-right:12px;">
                                <table class="fp crew-roster">
                                    <tr>
                                        <th><span class="fp sheet-label" style="vertical-align:top;">{{localize 'FP.gameterm.gear'}}</span></th>
                                        <td class="hw">{{crew.mbr_gear}}</td>
                                    </tr>
                                    <tr>
                                        <th><span class="fp sheet-label" style="vertical-align:top;">{{localize 'FP.gameterm.notes'}}</span></th><td class="hw">{{crew.mbr_notes}}</td>
                                    </tr>
                                </table>
                            </div>
                    </div>
                    <div class="fp flexcol item-name item" data-crew-id="{{crew.mbr_id}}" data-item-id="{{crew.mbr_item_id}}" style="max-width:48px; background:#7dc8e6; color:white; text-align:center;">
                        <a class="passthru-edit-crew-member" title="{{localize 'FP.ui.crewsheet.captain'}}" data-crew-action="toggle_captain">
                            <span style="font-size:2em"><i class="fas fa-flag"></i></span>
                        </a>
                        <a class="passthru-edit-crew-member" title="{{localize 'FP.ui.crewsheet.casualty'}}" data-crew-action="toggle_casualty">
                            <span style="font-size:2em"><i class="fas fa-heartbeat"></i></span>
                        </a>
                    </div>
                    
                </div>
                
            </div>
            
            {{/each}}
        
    </div>
          
    </div>
    </div>
    
    
    
    <div class="tab turn" data-group="primary" data-tab="turn">
        {{> 'systems/fiveparsecs/templates/partials/campaign/campaignturn.hbs'}}
    </div>



    <div class="tab worlds" data-group="primary" data-tab="worlds">
        <div style="padding:3px; margin-right:12px;">
            <table class="fp crew-roster" style="border-collapse:collapse;">
                <tr class="fp sheet-label">
                    
                    <th>{{localize "FP.ui.world.entity"}}</th>
                    <th>{{localize "FP.ui.world.invaders"}}</th>
                    <th>{{localize "FP.ui.world.license"}}</th>
                    <th>{{localize "FP.ui.world.localpat"}}</th>
                    <th>{{localize "FP.ui.world.localriv"}}</th>
                    <th>{{localize "FP.gameterm.notes"}}<th>
                    <th></th>
                    
                </tr>
                {{#each worlds as |world id|}}
                <tr>
                    <td class="hw">
                        {{world.name}}&nbsp;
                        
                        <p>{{world.data.data.traits}}</p>

                    </td>
                    <td class="hw" style="text-align:center">
                        {{world.data.data.invaders}}{{#if (ne world.data.data.invaders "")}}/{{/if}}{{world.data.data.inv_progress}}
                    </td>
                    <td class="hw" style="text-align:center">
                        {{#if world.data.data.licensing}}Yes{{else}}No{{/if}} {{#if world.data.data.license_obtained}}(Acquired){{else}}(Not Acquired){{/if}}
                    </td>
                    <td class="hw" style="text-align:center">
                        {{#if (ne world.data.data.p1.name "")}}<p>{{world.data.data.p1.name}}: {{world.data.data.p1.benefit}}</p>{{/if}}
                        {{#if (ne world.data.data.p2.name "")}}<p>{{world.data.data.p2.name}}: {{world.data.data.p2.benefit}}</p>{{/if}}
                        {{#if (ne world.data.data.p3.name "")}}<p>{{world.data.data.p3.name}}: {{world.data.data.p3.benefit}}</p>{{/if}}
                    </td>
                    <td class="hw" style="text-align:center">
                        {{#if (ne world.data.data.r1.name "")}}<p>{{world.data.data.r1.name}}: {{world.data.data.r1.notes}}</p>{{/if}}
                        {{#if (ne world.data.data.r2.name "")}}<p>{{world.data.data.r2.name}}: {{world.data.data.r2.notes}}</p>{{/if}}
                        {{#if (ne world.data.data.r3.name "")}}<p>{{world.data.data.r3.name}}: {{world.data.data.r3.notes}}</p>{{/if}}
                    </td>
                    <td class="hw" style="text-align:center">
                        {{world.data.data.notes}}
                    </td>
                     <td style="font-size:2em; padding-left:3px; color:white; background:#7dc8e6"><a class="item-edit item" title="{{localize 'FP.ui.general.edit'}} {{world.name}}" data-type="world" data-item-id="{{world.data._id}}"><i class="fa fa-edit"></i></a><br/>
                        <a class="item-delete item" title="{{localize 'FP.ui.general.delete'}} {{world.name}}" data-type="world" data-item-id="{{world.data._id}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
 
    </section>
</form>