<form class="{{cssClass}}" autocomplete="off">
    <header class="fp sheethead">
    </header>
    
    <section class="sheetbody">
        <div class="fp flexrow">
            <div class="fp flexcol" style="border:2px solid #e72d41">
                <div class="fp flexrow">
                    <div class="fp flex-item">
                        <img class="profile-img" style="border:1px solid #e72d41; min-width:64px !important; min-height:64px !imporant" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                    {{!--character image column--}}
                    </div>
                    {{> 'systems/fiveparsecs/templates/partials/sheet/dice_roll_block.hbs'
                                chartype=actor.type
                    }}
                </div>
             
                    <div class="flex-item" style="min-width:50%;">
                    <table class="fp enemy-roster">
                            <tr class="fp sheet-label labels">
                                <th>{{localize "FP.enemy.stat.description"}}</th>
                            </tr>
                            <tr>
                                <td style="padding-right:3px;"><span data-field="name" class="inline-edit hw val-box" style="background:none;" contenteditable>{{actor.name}}</span></td>
                            </tr>
                        </table>
                        
                        
                    </div>
                    <div class="fp flexrow">
                        <div class="fp flex-item" style="text-align:center; max-width:48%;">
                            <table class="fp enemy-roster">
                                <tr class="fp sheet-label-center labels">
                                    <th>{{localize "FP.enemy.stat.panic"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.speed"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.combat"}}</th>
                                    <th>{{localize "FP.character.stat_abbrev.toughness"}}</th>
                                </tr>
                                    
                                </tr>
                                <td><span data-field="data.data.panic_str" class="inline-edit hw val-box" contenteditable>{{data.data.panic_str}}</span></td>
                            <td><span data-field="data.data.speed" class="inline-edit hw val-box" contenteditable>{{data.data.speed}}</span></td>
                            <td><span data-field="data.data.combat" class="inline-edit hw val-box" contenteditable>{{data.data.combat}}</span></td>
                            <td><span data-field="data.data.toughness" class="inline-edit hw val-box" contenteditable>{{data.data.toughness}}</span></td>
                            </table>
                        </div>
                        <div class="fp flex-item" style="text-align:center; max-width:48%;">
                            <table class="fp enemy-roster">
                                <tr class="fp sheet-label-center labels">
                                    <th>{{localize "FP.enemy.setup_info.numbers"}}</th>
                                    <th>{{localize "FP.enemy.setup_info.ai"}}</th>
                                    <th>{{localize "FP.enemy.setup_info.weapons"}}</th>
                                    <th>Save</th>
                                </tr>
                                <tr>
                                    <td><span data-field="data.data.numbers" class="inline-edit hw val-box" contenteditable>{{data.data.numbers}}</span></td>
                                    <td><span data-field="data.data.ai" class="inline-edit hw val-box" contenteditable>{{data.data.ai}}</span></td>
                                    <td><span data-field="data.data.weapons" class="inline-edit hw val-box" contenteditable>{{data.data.weapons}}</span></td>
                                    <td><span data-field="data.data.save" class="inline-edit hw val-box" contenteditable>{{data.data.save}}</span></td>
                                </tr>
                            
                            </table>
                        </div>
                    </div>
                    {{!--name and stats row--}}
               
               
                   <div class="fp flexcol" style="min-width:50%">       
                        <div style="padding:3px; margin-right:12px;">
                            <table class="fp enemy-roster" style="border-collapse:collapse;">
                                <tr class="fp sheet-label labels">
                                    <th>{{localize "FP.gameterm.weapon"}}</th>
                                    <th>{{localize "FP.weapon.stat.range"}}</th>
                                    <th>{{localize "FP.weapon.stat.shots"}}</th>
                                    <th>{{localize "FP.weapon.stat.damage"}}</th>
                                    <th>{{localize "FP.gear.stat.traits"}}</th>
                                </tr>
                                {{#each weapons as |weapon id|}}
                                <tr class="hw">
                                    <td>{{weapon.name}} 

                                        <a class="item-edit item" title="Edit {{weapon.name}}" data-type="weapon" data-item-id="{{weapon.data._id}}">
                                            <i class="fa fa-edit"></i>
                                        </a> 
                                            <a class="item-delete item" title="Delete {{weapon.name}}" data-type="weapon" data-item-id="{{weapon.data._id}}"><i class="fas fa-trash"></i></a>

                                    </td>
                                    <td style="text-align:center">{{weapon.data.data.range}}</td>
                                    <td style="text-align:center">{{weapon.data.data.shots}}</td>
                                    <td style="text-align:center">{{weapon.data.data.damage}}</td>
                                    <td style="text-align:center">{{weapon.data.data.traits}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div> {{!--weapon 1 / gear / xp row--}}
                   <div class="fp flexcol"> 
                        <div style="padding:3px; margin-right:12px;">
                            <table class="fp enemy-roster">
                                <tr>
                                    <td style="width:10%"><span class="fp sheet-label labels" style="vertical-align:top">Gear</span></td>
                                    <td style="padding-left:3px;">
                                        
                                        {{#each gear as |gear id|}}
                                        
                                            <a class="item-edit item hw" title="Edit {{gear.name}}" data-type="gear" data-item-id="{{gear.data._id}}">{{gear.name}}
                                                {{#if (gt gear.data.data.uses 0)}}&nbsp;x{{gear.data.data.uses}}{{/if}}
                                            </a> 
                                             <a class="item-delete item" title="Delete {{gear.name}}" data-type="gear" data-item-id="{{gear.data._id}}"><i class="fas fa-trash"></i></a> 
                                            
                                            {{#if @last}} {{else}}, {{/if}}

                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10%"><span class="fp sheet-label" style="vertical-align:top">Notes</span></td>
                                    <td data-field="notes" class="inline-edit-notes hw" style="padding-left:3px;" contenteditable>{{data.data.notes}}</td>
                                </tr>
                            </table>
                        </div>
                   </div>
                
            </div>
        </div>

    </section>
</form>