<form class="fp roll-dialog" style="background:#d5ebf7; border:1px solid #44b9de;">
 <div class="fp flexcol" style="background:#7dc8e6; border:1px solid #44b9de;">
    <header class="roll-header">
            <h2 style="border-bottom:none; margin-left:6px; font-family:'SheetHeader', sans-serif;">
                {{expr}} Roll
            </h2>
    </header>
</div>
<div class="taskroll-msg">
    <p> <strong><span style="margin-left:6px; font-family:'Saira Condensed',sans-serif;">{{localize "FP.ui.general.roll"}} {{localize "FP.ui.general.total"}}</span>: {{roll.total}}</strong></p>  
    <p> <strong><span style="margin-left:6px; font-family:'Saira Condensed',sans-serif;">{{localize "FP.ui.general.total"}} {{localize "FP.ui.general.modifiers"}}</span>:  
    <span style="border-bottom:1px dotted black;" title="{{bonus}} (Bonus) - {{malus}} (Penalty)">{{#if (gt 0 modifiers)}}+{{else}}-{{/if}}{{totalMod}}</span></strong>
    </p>
</div>

    <div class="fp flexrow" style="background:#d5ebf7; justify-content:center; flex-wrap:wrap">
        {{#each results as |result id|}}
            <div class="fp dice-display" style="max-height:48px !important; max-width:48px !important;">
                <img src="{{result}}" style="height:48px, width:48px" height="48" width="48"/>
            </div>
        {{/each}}
    </div>

<div class="taskroll-outcome {{outclass}}" style="display:none;">
    {{outcome}}
</div>

</form>