<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <section class="sheetbody">
       
        {{!--gear has Geartype, Uses, Affects--}}
         <div class="fp flexrow">
            <table class="fp item-roster">
                <tr class="fp terminal left-larger">
                    <th>{{localize "FP.gear.stat.uses"}} {{localize "FP.ui.instructions.unlim_uses"}}</th>
                    <th>{{localize "FP.gear.stat.affects"}}</th>
                </tr>
                <tr>
                    <td><input class="fp value-input" type="text" name="data.uses" value="{{data.uses}}" data-dtype="Number"/></td>
                    <td><input class="fp text-input" type="text" name="data.affects" value="{{data.affects}}" data-dtype="String"/></td>
                  
                </tr>
            </table>
        </div>
      

        {{!--Common Item Traits Area--}}
             <div class="fp flexrow">
            <table class="fp item-roster">
                <tr class="fp terminal left-larger">
                    <th>{{localize "FP.gameterm.notes"}}/{{localize "FP.gameterm.rules"}}</th>
                    <th>{{localize "FP.gameterm.cost"}}</th>
                </tr>
                <tr>
                    <td><input class="fp text-input" type="text" name="data.notes" value="{{data.notes}}" data-dtype="String"/></td>
                    <td style="width:15%; text-align:center;"><input class="fp value-input" type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/></td>
                </tr>
            </table>
        </div>
     </section>
</form>