<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <section class="sheetbody">
        {{#if (eq item.data.type "weapon")}}
        <div class="fp flexrow">
            <table class="fp crew-roster">
                <tr>
                    <th>{{localize "FP.weapon.stat.range"}}</th>
                    <th>{{localize "FP.weapon.stat.shots"}}</th>
                    <th>{{localize "FP.weapon.stat.damage"}}</th>
                    <th>{{localize "FP.item.stat.traits"}}</th>
                </tr>
                <tr>
                    <td><input class="fp value-input" type="text" name="data.range" value="{{data.range}}" data-dtype="Number"/></td>
                    <td><input class="fp value-input" type="text" name="data.shots" value="{{data.shots}}" data-dtype="Number"/></td>
                    <td><input class="fp value-input" type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number"/></td>
                    <td><input class="fp text-input" type="text" name="data.traits" value="{{data.traits}}" data-dtype="String"/></td>                
                </tr>
            </table>
        </div>
        {{/if}}

        {{!--gear sheet components--}}
        {{#if (eq item.data.type "gear")}}
        {{!--gear has Geartype, Uses, Affects--}}
         <div class="fp flexrow">
            <table class="fp crew-roster">
                <tr>
                    <th>{{localize "FP.gear.stat.uses"}}</th>
                    <th>{{localize "FP.gear.stat.affects"}}</th>
            
                </tr>
                <tr>
                    <td><input class="fp value-input" type="text" name="data.uses" value="{{data.uses}}" data-dtype="Number"/></td>
                    <td><input class="fp value-input" type="text" name="data.affects" value="{{data.affects}}" data-dtype="Number"/></td>
                  
                </tr>
            </table>
        </div>
        {{/if}}

        {{#if (eq item.data.type "crew_assignment")}}
        <div class="fp flexrow">
            <table class="fp crew-roster">
                <tr>
                    <th>Crew Member Name</th>
                    <th>Crew Member ID</th>
            
                </tr>
                <tr>
                    <td><input class="fp text-input" type="text" name="data.assigned_crew_name" value="{{data.assigned_crew_name}}" data-dtype="String"/></td>
                    <td><input class="fp text-input" type="text" name="data.assigned_crew_actorId" value="{{data.assigned_crew_actorId}}" data-dtype="String"/></td>
                  
                </tr>
            </table>
        </div>



        {{/if}}

        {{!--Common Item Traits Area--}}
        {{#unless (ne item.data.type "crew_assignment")}}
        <div class="fp flexrow">
            <table class="fp crew-roster">
                <tr>
                    <th>{{localize "FP.gameterm.notes"}}</th>
                    <th>{{localize "FP.gameterm.rules"}}</th>
                    <th>{{localize "FP.gameterm.cost"}}</th>
                </tr>
                <tr>
                    <td><input class="fp value-input" type="text" name="data.notes" value="{{data.notes}}" data-dtype="Number"/></td>
                    <td><input class="fp value-input" type="text" name="data.rules" value="{{data.rules}}" data-dtype="Number"/></td>
                    <td><input class="fp value-input" type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/></td>
                </tr>
            </table>
        </div>
        {{/unless}}
    </section>
</form>