<tr>
    <td class="fp sheet-label">
        Arrival
    </td>
    <td>
        <a class="ct-step" data-ct-phase="arrival" data-ct-action="arrive-rnd-world" title="Generate Random World"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/> Random World</a><br/>
        <a class="ct-step" data-ct-phase="arrival" data-ct-action="arrive-custom-world" title="Create Custom World"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/eclipse.png" height="32" width="32" style="border:0"/> Custom World</a><br/>
        <a class="ct-step" data-ct-phase="arrival" data-ct-action="arrive-known-world" title="Return to a Known World"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/planet-conquest.png" height="32" width="32" style="border:0"/> Known World</a>
    </td>
    <td class="hw">
        {{log "Active Worlds HBS: " active_world}}
        {{#each active_world as |world id|}}
        <strong>{{world.name}}</strong> ({{world.data.data.traits}})<br/>
        <strong>Invaders: </strong>{{world.data.data.invaders}}{{#if (ne world.data.data.invaders "")}}/{{/if}}{{world.data.data.inv_progress}}<br/>
        <strong>Licensing: </strong>{{#if world.data.data.licensing}}Yes{{else}}No{{/if}} {{#if world.data.data.license_obtained}}(Acquired){{else}}(Not Acquired){{/if}}
        {{/each}}
        {{#if data.campaign_turn.arrival.followed}}<br/><strong>You have been followed by a Rival!</strong>{{/if}}
    </td>
</tr>
