<tr>
    <td class="fp sheet-label">
        Arrival<br/>
        {{#if auto}}<a class="ct-step" data-ct-phase="arrival" data-ct-action="arrive-rnd-world" title="Generate Random World"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/>{{/if}}
        <a class="ct-step" data-ct-phase="arrival" data-ct-action="arrive-custom-world" title="Create Custom World"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/eclipse.png" height="32" width="32" style="border:0"/>
        {{#if auto}}<a class="ct-step" data-ct-phase="arrival" data-ct-action="arrive-known-world" title="Return to a Known World"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/planet-conquest.png" height="32" width="32" style="border:0"/>{{/if}}
    </td>
    <td>
        {{log "Active Worlds HBS: " active_world}}
        {{#each worlds as |world id|}}
        {{#if world.data.data.active}}
        <p><span class="fp sheet-label">World: </span><span class="hw">{{world.name}}</span> <span style="margin-left:3px; border-radius:3px; padding-left:6px; padding-right:6px; color:white; background:black;"><a class="item-edit item" title="Edit World" data-item-id="{{world.data._id}}"><i class="fas fa-edit"></i></a><a title="Delete World" class="item-delete item" data-item-id="{{world.data._id}}"><i class="fas fa-trash"></i></a></span><br/>
        <span class="fp sheet-label">World Traits: </span><span class="hw">{{world.data.data.traits}}</span><br/>
        <span class="fp sheet-label">Licensing:</span><span class="hw">{{#if world.data.data.licensing}}Yes{{else}}No{{/if}} {{#if world.data.data.license_obtained}}(Acquired){{else}}(Not Acquired){{/if}}</span><br/>
        <span class="fp sheet-label">Invaders: </span><span class="hw">{{world.data.data.invaders}}{{#if (ne world.data.data.invaders "")}}/{{/if}}{{world.data.data.inv_progress}}</span><br/>
        {{/if}}
        {{/each}}
        <!--span class="fp sheet-label">Followed? </span><span class="hw">{{#if data.campaign_turn.arrival.followed}}Yes{{else}}No{{/if}}</span></p-->
    </td>
</tr>
