<tr>
    <td class="fp sheet-label">
      Battles
    </td>
    <td>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="Rival" title="Check for Rivals"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/spy.png" height="32" width="32" style="border:0"/> Check for Rivals</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="Patron" title="Carry out Patron Job"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/shaking-hands.png" height="32" width="32" style="border:0"/> Patron Mission</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="Opportunity" title="Carry out Opportunity Mission"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/> Opportunity Mission</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="Quest" title="Continue a Quest"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/> Quest Mission</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="Invasion" title="Fight Invading Forces"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/> Invasion Battle</a>
    </td>
    <td>
        {{log "Battle List: " battles}}
        {{#each battles as |battle id|}}
        {{log "Battle info: " battle}}
        <p><span class="fp sheet-label"><strong>{{battle.name}}</strong></span> <a class="item-edit item" data-item-id="{{battle.data._id}}"><i class="fas fa-edit"></i></a><a class="item-delete item" data-item-id="{{battle.data._id}}"><i class="fas fa-trash"></i></a><br/>
        <span class="fp sheet-label">Objective: </span><span class="hw">{{battle.data.data.objective}}</span><br/>
        <span class="fp sheet-label">Deployment Conditions: </span><span class="hw">{{battle.data.data.deployment}}</span><br/>
        <span class="fp sheet-label">Notable Sights: </span><span class="hw">{{battle.data.data.notable_sights}}</span><br/>
        <span class="fp sheet-label">Opposition: </span><span class='hw'>{{battle.data.data.opposition.element_subtype}} x{{battle.data.data.opposition.base_number}} 
        ({{battle.data.data.opposition.specialists}} Specialists, {{battle.data.data.opposition.uniques}} Unique)</span></p>
        {{/each}}
    </td>
</tr>
