<tr>
    <td class="fp sheet-label">
      Battles
    </td>
    <td>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="rival" title="Check for Rivals"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/spy.png" height="32" width="32" style="border:0"/> Check for Rivals</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="patron" title="Carry out Patron Job"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/shaking-hands.png" height="32" width="32" style="border:0"/> Patron Job</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="opportunity" title="Carry out Opportunity Mission"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/> Opportunity Mission</a><br/>
        <a class="ct-step" data-ct-phase="battles" data-ct-action="quest" title="Continue a Quest"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/> Quest Mission</a>
    </td>
    <td class="hw">
        {{#each battles as |battle id|}}
        <p><strong>{{battle.name}}</strong> <a class="item-delete item" data-item-id="{{battle.data._id}}"><i class="fas fa-trash"></i></a><br/>
        {{battle.type}}<br/>
        {{battle.data.data.objective}}<br/>
        {{battle.data.data.opposition.element_subtype}}</p>
        {{/each}}
    </td>
</tr>
