<select name="data.patron_type" id="data.patron_type">
    {{#select data.patron_type}}
    <option value="Corporation">{{localize "FP.ui.select.patron.corp"}}</option>
    <option value="Local Government">{{localize "FP.ui.select.patron.local"}}</option>
    <option value="Sector Government">{{localize "FP.ui.select.patron.sector"}}</option>
    <option value="Private Organization">{{localize "FP.ui.select.patron.private"}}</option>
    <option value="Wealthy Individual">{{localize "FP.ui.select.patron.wealthy"}}</option>
    <option value="Secretive Group">{{localize "FP.ui.select.patron.secret"}}</option>
    {{/select}}
</select>