<tr>
    <td class="fp sheet-label">
      {{localize "FP.campaign_turn.post.entity"}}<br/>
        <a class="ct-step" data-ct-phase="post" data-ct-action="Rival" title="{{localize 'FP.campaign_turn.post.activity'}}"><img class="dice-img" src="systems/fiveparsecs/assets/campaign/coinflip.png" height="32" width="32" style="border:0"/>
    </td>
    <td class="hw">
        {{data.campaign_turn.post_battle.riv}}<br/>
        {{data.campaign_turn.post_battle.pat}}<br/>
        {{data.campaign_turn.post_battle.cev}}<br/>
        {{data.campaign_turn.post_battle.qst}}<br/>
        {{data.campaign_turn.post_battle.pay}}<br/>
        {{data.campaign_turn.post_battle.fnd}}<br/>
        {{data.campaign_turn.post_battle.inv}}<br/>
        {{data.campaign_turn.post_battle.loot}}
    </td>
</tr>
